name: Testing, Building and Deploying

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: first_runner1

    steps:
      # Mandatory code checkout from git to the runner machine
      - name: Code Checkout Must
        uses: actions/checkout@v4

      # Installing the Node with version 22 as mentioned
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # Installing all the dependency as per developers requirements
      - name: Install Dependency
        run: npm install

      # Perform application testing*** (Testing and capturing artifact)
      - name: Running the test
        run: |
            echo "Running Test . . . . "
            npm run check >test-result.txt || true
            

      # Uploading result to artifact      
      - name: Upload the test-result
        uses: actions/upload-artifact@v4
        with:
          name: test-result
          path: test-result.txt         


  deploy:
    runs-on: first_runner1
    
    steps:
      # Mandatory code checkout from git to the runner machine
      - name: Code Checkout Must
        uses: actions/checkout@v4

      # Installing the Node with version 22 as mentioned
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # Installing all the dependency as per developers requirements
      - name: Install Dependency
        run: npm install

      # Downloading Artifact
      - name: Download the test-result
        uses: actions/download-artifact@v4
        with:
          name: test-result
          
      # Displaying the artifact contents
      - name: Show the test result
        run: |
          echo "Display Artifact Contents"
          cat test-result.txt
    
      # Running the application on the self hosted runner
      - name: Run the application
        run: npm start

      # Deployment Process as per readme.md in the assignment
      - name: Deployment code run
        run: |
          pm2 delete node-app || true
          pm2 start "./src/server.js" --name node-app
          pm2 save

      #END
      # Must run git bash with admin priviledge
      # Attempt Number 3